body {
  --line-color: white;
  --text-color:white;
  --header-color: rgb(248, 140, 0);
  --important-color: rgb(255, 255, 0);
  --current-nav-text-color: black;
  --current-nav-color: yellow;
  --footer-background-color:rgba(0, 0, 0, 0.6) ;
  --footer-color:rgba(255,255,255,0.8) ;
  --chess-color:rgb(0, 54, 0);
  
}